#catalog {
  background-image: url(https://wallpapertag.com/wallpaper/full/c/7/3/564392-most-popular-fantasy-nature-wallpaper-1920x1080.jpg);
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* opacity: 0.6; */
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

#movies-catalog-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

#movies-rented-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

* {
  text-decoration: none;
  font-family: "Cinzel Decorative";
}
